<h1>New Message</h1>

<%= link_to "Add New Recipent",
            new_message_path,
            class: "btn btn-default btn-block",
            remote: true %>
            
<%= render 'form' %>

<%= link_to 'Back', messages_path %>
